In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import xlrd
import matplotlib.pyplot as plt

%matplotlib inline

In [15]:
svod_world_df = pd.read_excel('../data/0_svod_worldwide.xlsx', header=None)
svod_world_df

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,Revenue in million US$,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,CAGR in %
1,NaN,Total,20842.13,22535.99,24248.37,27628.13,29233.55,30579.39,31635.20,32446.70,6.53
2,NaN,Revenue Growth in percent,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,NaN
3,NaN,Total,NaN,8.13,7.60,13.94,5.81,4.60,3.45,2.57,NaN
4,NaN,Users in millions,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,CAGR in %
5,NaN,Total,972.36,1019.00,1072.01,1206.48,1268.04,1322.52,1365.10,1395.66,5.3
6,NaN,Penetration Rate in percent,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,NaN
7,NaN,Total,13.48,13.98,14.55,16.21,16.87,17.43,17.83,18.07,NaN
8,NaN,ARPU in US$,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,CAGR in %
9,NaN,Total,21.43,22.12,22.62,22.90,23.05,23.12,23.17,23.25,1.17
10,NaN,Users by age in percent,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,NaN
11,NaN,18-24 years,NaN,NaN,21.00,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,25-34 years,NaN,NaN,36.00,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,35-44 years,NaN,NaN,24.00,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,45-54 years,NaN,NaN,14.00,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,55-64 years,NaN,NaN,5.00,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Users by gender in percent,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,NaN
17,NaN,female,NaN,NaN,46.00,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,male,NaN,NaN,54.00,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Global Comparison - Revenue in million US$,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,Rank
20,NaN,United States,NaN,NaN,NaN,12747.10,NaN,NaN,NaN,NaN,1
21,NaN,China,NaN,NaN,NaN,2062.73,NaN,NaN,NaN,NaN,2
22,NaN,Japan,NaN,NaN,NaN,1329.31,NaN,NaN,NaN,NaN,3
23,NaN,Germany,NaN,NaN,NaN,1191.79,NaN,NaN,NaN,NaN,4
24,NaN,United Kingdom,NaN,NaN,NaN,1085.60,NaN,NaN,NaN,NaN,5
25,NaN,Global Comparison - User Penetration in percent,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,Rank
26,NaN,United States,NaN,NaN,NaN,39.22,NaN,NaN,NaN,NaN,1
27,NaN,Sweden,NaN,NaN,NaN,36.08,NaN,NaN,NaN,NaN,2
28,NaN,Norway,NaN,NaN,NaN,33.33,NaN,NaN,NaN,NaN,3
29,NaN,Germany,NaN,NaN,NaN,28.97,NaN,NaN,NaN,NaN,4
30,NaN,China,NaN,NaN,NaN,28.82,NaN,NaN,NaN,NaN,5

In [ ]:
#for multiple sheets:

#video_streaming_df = pd.ExcelFile('../data/0_svod_market_landscape.xls')
#df1 = pd.read_excel(xls, 'Sheet1')
#df2 = pd.read_excel(xls, 'Sheet2')